devpack~=0.0.2
warg~=0.5.5
draugr~=0.8.2
apppath~=0.5.2
numpy>=1.19.0
scipy~=1.5.2
torch~=1.13.1
tensorboard~=2.11.2
tensorflow~=2.11.0
#matlab
scikit-learn~=0.23.2
tqdm~=4.50.0
torchvision~=0.14.1
torchaudio~=0.13.1
librosa~=0.8.1
matplotlib~=3.3.2
six~=1.15.0
ipython~=7.18.1
pandas>=1.1.2
sklearn~=0.0
pathos~=0.2.7
spafe~=0.3.1
seaborn~=0.11.1