devpack
warg~=0.5.5
draugr~=0.8.2
apppath~=0.5.2
numpy>=1.19.0
scipy~=1.5.2
torch
tensorboard
#tensorflow~=2.3.1
#matlab
scikit-learn~=0.23.2
tqdm~=4.50.0
torchvision
torchaudio
librosa
matplotlib~=3.3.2
six~=1.15.0
ipython~=7.18.1
pandas>=1.1.2
sklearn~=0.0
pathos